# the commented out files are to installable via conda, so they are installed in a separate command via pip
#editdistance==0.4
#protobuf==3.4.0
#pytest==3.2.3
#scipy==0.18.1
#SoundFile==0.10.2
#tensorboard-logger==0.0.4
#python_speech_features==0.6
#graphviz==0.14
#librosa==0.7.2
requests==2.23.0
numpy==1.13.3
cffi==1.11.2
py==1.4.34
pycparser==2.18
PyYAML==3.12
six==1.11.0
tqdm==4.19.4
wget==1.19.5
psutil
